<app-header></app-header>
<app-notification></app-notification>

<router-outlet></router-outlet>


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top pt-4 pb-2 border-bottom position-fixed w-100 bg-light" style="bottom: 0;">
  <div class="container">
    <p class="float-md-right">
      &copy; Copyright 2021 All rights reserved
    </p>
    <p>
      <a href="#">Terms and conditions</a>
    </p>
  </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->